.cont 
	width 75em
	overflow hidden
	margin 5em auto 0

.cont h1 
	text-align center

.cont ul li 
	margin 1em
	height 265px
	overflow hidden
	padding 1em
	flex 1
	background #7F9974
	background: linear-gradient(#1AB5BF, #12797F);
	border-radius 7px
	box-shadow: inset 0px 0px 7px 3px #555;

.cont ul li:hover 
	box-shadow: inset 0px 0px 9px 5px #555;

.cont ul li h3 
	text-align center
	
