footer 
	background #333
	// background linear-gradient(#343d46, #c0c5ce)
	color white

.extras 
	width 65%
	float left
	padding 1em

.contact
	width 35%
	padding 1em
	float right


#form input[type=submit]
	background #343d46
	width 100%