* 
	box-sizing border-box
	font-family 'Raleway', sans-serif
	-webkit-font-smoothing antialiased

body 
	margin 0
	padding 0
	//background #E0E0E0
	background linear-gradient(#c0c5ce, #343d46)
	// background repeating-radial-gradient(red, yellow 10%, green 15%);
	// perspective 50px
